{% extends 'base.html' %}

{% block content %}
<style>
  body {
    background-image: url('/static/images/Kraken.jpg/');
    background-position: 595px -5px;
  }
  .list-group-item {
    background-color: rgba(2, 0, 0, 0.6); margin-top: 0px;
    color: white;
  }
</style>
<body>
  <section style="background-color: rgba(31, 30, 30, 0.507);
  margin-top: 60px;
  text-align: center;
  font-size: 50px;
  ">
    <p style="color: white;">Your User's Profile:</p>
  </section>

  <section class="text-center" style="margin-top: 0px;">
    <div class="container">
      <div class="row"><br>
        <ul class="list-group">
          <li class="list-group-item">Email: {{ current_user.email }} </li>
          <li class="list-group-item">Token: {{ current_user.token }}</li>
        </ul>
      </div>
    </div>
  </section>
</body>
{% endblock %}